body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2em;
}

#intro {
    padding-top: 3em;
}

main {
    display: flex;
    align-items: center;
}

section {
    display: flex;
}

.w3-content {
    margin-left: 2em;
}

.circuit {
    position: sticky;
    position: -webkit-sticky;
    flex-shrink: 0;
    margin-top: 2em;
}

p > span {
    font-weight: bold;
}