:root {
    --containermax: 1000px;
    --navheight: 3em;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: var(--navheight);
}

body {
    font-family: "Inconsolata", sans-serif;
}

main {
    padding-top: 5em;
    width: min(var(--containermax), 100%);
    margin-right: auto;
    margin-left: auto;
}

article {
    padding: 0.3em;
    /* outline: red dotted 2px; */
    border-bottom: 1px solid;
}

section {
    display: flex;
    /* overflow: auto; */
}

.sticky-wrap {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: var(--navheight);
    align-self: flex-start;
}

.explain {
    margin: 0.5em;
}

.circuit {
    margin: 1em 1em 1em 0em;
}

p > span {
    font-weight: bold;
}

p {
   margin-block-start: 0; 
}

p + ul {
    margin-block-start: -1em;
}